
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background-color: #2b2d42;
}

h1 {
    width: 100%;
    text-align: center;
    line-height: 70px;
    color: #f8f4f9;
    font-size: 1em;
}

li {
    list-style: none;
    display: inline;
    float: right;
}

button {
    border: none;
    padding: 1em;
    margin: 1em;
    background-color: #f8f4f9;
    border-radius: 1em;
}

#info {
    margin-top: 1em;
    margin-left: 1em;
    padding: 1em;
    font-weight: bold;
}


#info button {
    background-color: #fdca40;
    color: #2b2d42;
}

.newDisco {
    margin: 2em;
    background-color: #2b2d42;
    width: 400px;
    height: 500px;
    vertical-align: top;
    color: #fdca40;
    display: inline-block;
    padding: 2em;
    border-radius: 1em;
}



.newDisco p {
    margin-top: 10px;
}

#pista {
    margin-left: 20px;
}

.busquedaDisco:target {
    background-color: red;
}

footer {
    background-color: #2b2d42;
    color: #fdca40;
    width: 100%;
    padding: 1em;
    height: 130px;
}

footer ul {
    list-style: none;
}

footer ul li {
    text-align: center;
    line-height: 1.5em;
    display: inline-block;
    width: 33%;
}

footer p {
    text-align: center;
    margin: 65px;
}

footer ul li a {
    text-decoration: none;
    color: #fdca40;
}

footer ul li a:hover {
    color: #f8f4f9;
}